# Source files
# ============

text=auto

*.dita        text
*.ditamap     text
*.html        text
*.md          text
*.properties  text
*.py          text diff=python
*.rng         text
*.sch         text
*.xml         text
*.xsl         text

# Binary files
# ===========

*.jar  binary
*.png  binary

.gitattributes text
